.invisible {
    visibility: hidden;
}

body {
    // display: flex;
    height: 600px;
    background-color: rgb(251, 253, 251);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    display: block;
    margin: auto;
}


svg#chart-container {
    height: 600px;
    width: 500px;
    position: relative;
    border: solid black 1px;
    float: left;
    margin: 15px;
    margin-right: 50px;
    background: linear-gradient(145deg, #ffb3cc, #b6b9ff);
    z-index: -1;
}

svg > * {
    transition: visibility 2s;
}

button {
    display: block;
    background-color: lightgrey;
    margin: 5px;
}

button#play {
    margin-top: 50px;
}


button.soloed {
    background-color: rgb(255, 252, 80);
}

button.not-soloed {
    background-color: lightgrey;
}

button.selected {
    background-color: rgb(142, 198, 236);
    box-shadow: inset 1px 1px 1px rgb(54, 54, 54);
}

button#next {
    height: 20px;
    align-self: center;
}

div#nav ul{
    display: flex;
    flex-direction: row;
    // border: 1px solid black;
    border-radius: 20%;
}

ul li {
    margin: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(253, 156, 205);
    cursor: pointer;
    box-shadow: grey 0px 2px 5px 2px;
    transition: box-shadow .1s;
}

.shape {
    fill-opacity: 95%;
    backdrop-filter: blur(20px);
    transition: fill .5s, fill-opacity .5s, opacity 1.5s;
}

.shape:hover {
    stroke:rgb(255, 255, 255);
    stroke-width: 2px;
    stroke-opacity: 60%;
    filter: blur(.5px);
}
.shape-dimmed {
    fill: grey;
    fill-opacity: 30%;
    transition: fill 2s, fill-opacity .3s;
}
    
.highlighted#FEATURED {
    fill: gold;
    box-shadow: rgb(97, 88, 36) 20px 20px 20px 20px;
    position: relative;
    z-index: 5;
    transition: fill 1s;
}

.not-highlighted{
    fill: blue;
    transition: fill .5s;
}
